@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

$primary-red: hsl(0, 100%, 67%);
$primary-orange: hsl(39, 100%, 56%);
$primary-green: hsl(166, 100%, 37%);
$primary-blue: hsl(234, 85%, 45%);

$gradient-background: linear-gradient(90deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
$gradient-circle: linear-gradient(90deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0));

$neutral-white: hsl(0, 0%, 100%);
$neutral-blue: hsl(221, 100%, 96%);
$neutral-lavender: hsl(241, 100%, 89%);
$neutral-gray: hsl(224, 30%, 27%);

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}