@use 'normalize';
@use 'assets';

main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: assets.$neutral-blue;
}

.panel{
    display: flex;
    align-items: center;
    max-width: 35rem;
    background-color: assets.$neutral-white;
    border-radius: 20px;
    box-shadow: assets.$neutral-lavender 0 10px 100px 0;

    &__results{
        display: flex;
        flex: 0 1 50%;
        height: max-content;
        padding: 2rem 3rem 4rem 3rem;
        flex-direction: column;
        align-items: center;
        background-image: assets.$gradient-background;
        border-radius: 20px;
        color: assets.$neutral-white;
        text-align: center;
        justify-content: space-between;

        &-title{
            font-size: 1.5rem;
            font-weight: 500;
            opacity: 50%;
        }

        &__circle{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: assets.$gradient-circle;
            border-radius: 100px;
            width: 8em;
            aspect-ratio: 1/1;

            &-title{
                font-size: 3.5rem;
                font-weight: 700;
            }

            &-text{
                font-size: 0.8rem;
                font-weight: 500;
                opacity: 50%;
            }
        }

        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            &-title{
                font-size: 1.5rem;
                font-weight: 700;
            }

            &-text{
                opacity: 50%;
                font-weight: 500;
                line-height: 1.25;
            }
        }
    }

    &__summary{
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 2rem 3rem 4rem 3rem;
        justify-content: space-evenly;

        &-title{

        }

        &__content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            &__element{
                display: flex;
                flex-direction: row;
                border-radius: 10px;
                padding: .5rem;

                &-img{

                }

                &-title{

                }

                &-score{

                }

                &-max_score{

                }

                &[data-schem="reaction"]{
                    color: assets.$primary-red;
                    background-color: hsla(0, 100%, 67%, .1);
                }
            }
        }

        &-button{

        }
    }
}